


html{overflow-x:hidden;}

body{
	position: relative;
	left: 40vw;
	top: 30vh;
	background: #576292 url(photo-1526374965328-7f61d4dc18c5.jfif);
}

h1{
	padding-left: 6vw;
	color: antiquewhite;
}


.key{
	
	display: flex;
	max-width: 26vw;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	}
	//////

input{
    width: 19.75vw;
    height: 8vh;
    text-align: right;
    font-size: 30px;
    font-weight: lighter;
    border-radius: 5px;
    margin-bottom: 10px;

}
